* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    width: 50%;
    height: 50vh;
    align-items: center;
}

.card-2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    width: 50%;
    height: 50vh;
    align-items: center;
}

.card-3 {
    display: none;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    width: 50%;
    height: 50vh;
    align-items: center;
}

.card-4 {
    display: none;
    flex-direction: column;
    justify-content: center;
    border: 5px solid black;
    width: 50%;
    height: 50vh;
    align-items: center;
}

.quiz-opening {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#initialField {
    width: 50px;
}

